/* app.component.css */
  h2 {
    text-align: center;
    color: black;
    margin-top: 20px;
  }
  
  input {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #4a90e2;
    border-radius: 4px;
    width: calc(100% - 22px);
    max-width: 400px;
    margin: 20px auto;
    display: block;
  }
  
  button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
  }
  
  button:hover {
    background-color: #357abd;
  }
  
  p {
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
    color: #555;
  }
  