<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> 
<div class="flex flex-col min-h-screen bg-gray-900">
  <!-- Navbar -->
  <nav class="bg-gray-800 p-4 shadow-lg">
    <h1 class="text-xl text-white text-center font-bold">AngularJs</h1>
  </nav>
  <div class="flex items-center justify-center flex-grow">
    <div class="bg-gray-800 rounded-xl shadow-2xl p-10 w-full max-w-3xl">
      <div class="flex items-center justify-center font-bold text-white typing-container">
        <h1 class="text-4xl font-extrabold text-white mb-6 text-center"><span>Welcome to </span><span class="typing-text" id="typewriter"></span></h1>
      </div>
      <h1 class="text-4xl font-extrabold text-white mb-6 text-center">{{ title }}<br>Modules</h1>
      <ul class="space-y-6">
        <li>
          <a href="http://localhost:4300" target="_blank" class="block p-4 rounded-lg bg-gray-700 text-white text-lg font-semibold hover:bg-gray-600 transition duration-300 ease-in-out shadow hover:shadow-xl transform hover:scale-105">6(a). Passing data from Container Component to Child Component</a>
        </li>
        <li>
          <a href="http://localhost:4400" target="_blank" class="block p-4 rounded-lg bg-gray-700 text-white text-lg font-semibold hover:bg-gray-600 transition duration-300 ease-in-out shadow hover:shadow-xl transform hover:scale-105">6(b). Passing data from Child Component to Container Component</a>
        </li>
        <li>
          <a href="http://localhost:4600" target="_blank" class="block p-4 rounded-lg bg-gray-700 text-white text-lg font-semibold hover:bg-gray-600 transition duration-300 ease-in-out shadow hover:shadow-xl transform hover:scale-105">6(c). Shadow DOM</a>
        </li>
        <li>
          <a href="http://localhost:4500" target="_blank" class="block p-4 rounded-lg bg-gray-700 text-white text-lg font-semibold hover:bg-gray-600 transition duration-300 ease-in-out shadow hover:shadow-xl transform hover:scale-105">6(d). Component Life Cycle</a>
        </li>
      </ul>
      <!-- Description -->
      <p class="mt-4 text-center text-gray-400">Demo by: 21031A0546, 21031A0501, 21031A0507, 21031A0509, 21031A0537, 21031A0526</p>
    </div>
  </div>
  <!-- Footer -->
  <footer class="bg-gray-800 p-4">
    <p class="text-center text-white">© Group-6, 2024</p>
  </footer>
</div>