/* Course details */
h2 {
    color: #007bff;
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }
  
  /* p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
  }
  
  strong {
    color: #333;
  } */
  